.parent{
  display: flex;
  flex-direction:row;
  justify-content:center;
}
.child{
  border:2px solid #ddd;
  padding:2%;
  margin:2%;
  box-shadow:3px 3px 3px #000;
  text-align: center;
}

img{
  width: 20%;
  height:20%;
  border-radius: 50%;
  border: 2px solid #ddd;
}
.a{
  display: red;
  text-align: center;
  text-decoration: none;
  background: #000;
  color: orange;
  padding: 2%;
}
.leftchild{
  width: 92%;
  border: 2px solid #000;
  padding: 3px;
  margin:2%;
  text-align: center;


}
.rightchild{
  width: 92%;
  border: 2px solid #000;
  padding:3px;
  margin:2%;
  text-align: center;

}
mail{
  text-decoration: none;
  font-size: 20%;
}
body{
  background-color:#FE2EC8;
}

@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    display: flex;
    flex-direction:column;
    justify-content:center;
  }


  img{
    width: 20%;
    height:20%;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  .a{
    display: red;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: orange;
    padding: 2%;
  }
  .leftchild{
    width: 92%;
    border: 2px solid #000;
    padding: 3px;
    margin:2%;
    text-align: center;


  }
  .rightchild{
    width: 92%;
    border: 2px solid #000;
    padding:3px;
    margin:2%;
    text-align: center;

  }
  mail{
    text-decoration: none;
    font-size: 20%;
  }
  body{
    background-color:#00FF40;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  .parent{
    display: flex;
    flex-direction:row;
    justify-content:center;
  }


  img{
    width: 20%;
    height:20%;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  .a{
    display: red;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: orange;
    padding: 2%;
  }
  .leftchild{
    width: 50%;
    border: 2px solid #000;
    padding: 3px;
    margin:2%;
    text-align: center;


  }
  .rightchild{
    width: 50%;
    border: 2px solid #000;
    padding:3px;
    margin:2%;
    text-align: center;

  }
  mail{
    text-decoration: none;
    font-size: 20%;
  }
  body{
    background-color: teal;
  }

}
@media only screen and (min-width:769px) and (max-width:1024px){
  .parent{
    display: flex;
    flex-direction:row;
    justify-content:center;
  }


  img{
    width: 20%;
    height:20%;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  .a{
    display: red;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: orange;
    padding: 2%;
  }
  .leftchild{
    width: 40%;
    border: 2px solid #000;
    padding: 3px;
    margin:2%;
    text-align: center;


  }
  .rightchild{
    width: 60%;
    border: 2px solid #000;
    padding:3px;
    margin:2%;
    text-align: center;

  }
  mail{
    text-decoration: none;
    font-size: 20%;
  }
  body{
    background-color:maroon;
  }

}
