.parent{
  display: flex;
  flex-direction:row;
  justify-content:center;
}
.child{
  border:2px solid #ddd;
  padding:2%;
  margin:2%;
  box-shadow:3px 3px 3px #000;
  text-align: center;
}

img{
  width: 200px;
  height:;
  border-radius: 50%;
  border: 2px solid #ddd;
}
.a{
  display: red;
  text-align: center;
  text-decoration: none;
  background: #000;
  color: orange;
  padding: 2%;
}
.leftchild{
  width: 30%;
  border: 2px solid #000;
  padding: 3px;
  margin:2%;
  text-align: center;


}
.rightchild{
  width: 65%;
  border: 2px solid #000;
  padding:3px;
  margin:2%;
  text-align: center;

}
mail{
  text-decoration: none;
  font-size: 20%;
}
@media only screen and(min-width:320px) and (max:width:480px)
{
  .parent{
    display: flex;
    flex-direction:column;
    justify-content:center;
  }
  .child{
    border:2px solid #ddd;
    padding:2%;
    margin:2%;
    box-shadow:3px 3px 3px #000;
    text-align: center;
  }


}
@media only screen and(min-width:481px) and (max:width:768px){
  .parent{
    display: flex;
    flex-direction:column;
    justify-content:center;
  }
  .child{
    border:2px solid #ddd;
    padding:2%;
    margin:2%;
    box-shadow:3px 3px 3px #000;
    text-align: center;
  }

}
@media only screen and(min-width:769px) and (max:width:1024px){
  .parent{
    display: flex;
    flex-direction:column;
    justify-content:center;
  }
  .child{
    border:2px solid #ddd;
    padding:2%;
    margin:2%;
    box-shadow:3px 3px 3px #000;
    text-align: center;
  }
}
